# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.ipynb

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/en/_build/
docs/zh_cn/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# cython generated cpp
!data/dict
data/*
.vscode
.idea

# custom

*.pkl.json
*.log.json
exps/
*~
show_dir/

# Pytorch


# demo
!tests/data
tests/results

#temp files
.DS_Store

checkpoints

htmlcov
*.swp
log.txt
workspace.code-workspace
results
mmocr/core/font.TTF
mmocr/.mim
.history/
.dev/
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_1.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_10.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_11.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_12.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_13.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_14.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_15.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_16.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_17.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_18.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_19.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_2.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_20.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_21.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_22.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_23.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_24.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_25.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_26.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_27.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_28.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_29.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_3.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_30.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_31.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_32.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_33.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_34.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_35.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_36.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_37.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_38.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_39.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_4.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_40.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_41.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_42.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_43.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_44.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_45.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_46.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_47.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_48.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_49.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_5.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_50.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_51.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_52.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_53.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_54.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_55.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_56.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_57.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_58.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_59.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_6.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_60.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_7.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_8.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/epoch_9.pth
work_dirs/sdmgr_unet16_60e_wildreceipt/latest.pth
workdir/output.pkl/0a0d8208b998661ded4bb7fd675a4a15.jpg
workdir/output.pkl/0a0d8208b998661ded4bb7fd675a4a15.jpg.json
workdir/output.pkl/a694700da047823dc9bff63f43556210.jpg
workdir/output.pkl/a694700da047823dc9bff63f43556210.jpg.json
workdir/output.pkl/a85838f2d8afc281dac8d7e002d5d479.jpg
workdir/output.pkl/a85838f2d8afc281dac8d7e002d5d479.jpg.json
workdir/output.pkl/aa3ebef90aed0c679f4556a145a86572.jpg
workdir/output.pkl/aa3ebef90aed0c679f4556a145a86572.jpg.json
workdir/output.pkl/aaacb03654ae436f5957c9b9b6cf89e9.jpg
workdir/output.pkl/aaacb03654ae436f5957c9b9b6cf89e9.jpg.json
workdir/output.pkl/aba5ef7c69b9d1dcbd0398c8de9f0593.jpg
workdir/output.pkl/aba5ef7c69b9d1dcbd0398c8de9f0593.jpg.json
workdir/output.pkl/ac55c674bb8c19e604471e49954f2117.jpg
workdir/output.pkl/ac55c674bb8c19e604471e49954f2117.jpg.json
workdir/output.pkl/ac79a21df4a0a7b96b823acc2c603432.jpg
workdir/output.pkl/ac79a21df4a0a7b96b823acc2c603432.jpg.json
workdir/output.pkl/aca75518c7e4535cb50b2be436967ff4.jpg
workdir/output.pkl/aca75518c7e4535cb50b2be436967ff4.jpg.json
workdir/output.pkl/ad0728554a612da5b0aab347291031fd.jpg
workdir/output.pkl/ad0728554a612da5b0aab347291031fd.jpg.json
workdir/output.pkl/ad110affd05155ed80581b059b2828ef.jpg
workdir/output.pkl/ad110affd05155ed80581b059b2828ef.jpg.json
workdir/output.pkl/ad94dcec655dcfa07278808b98d2a25f.jpg
workdir/output.pkl/ad94dcec655dcfa07278808b98d2a25f.jpg.json
workdir/output.pkl/aeca1508643a65ec093405b118fc54a3.jpg
workdir/output.pkl/aeca1508643a65ec093405b118fc54a3.jpg.json
workdir/output.pkl/af292a5cbfee27844c9778fa8149852e.jpg
workdir/output.pkl/af292a5cbfee27844c9778fa8149852e.jpg.json
workdir/output.pkl/afd31f3cd630a201b90808d84b5f9129.jpg
workdir/output.pkl/afd31f3cd630a201b90808d84b5f9129.jpg.json
workdir/output.pkl/b0b42c231523a7845d4218797f2b40b2.jpg
workdir/output.pkl/b0b42c231523a7845d4218797f2b40b2.jpg.json
workdir/output.pkl/b0b78956118aa84b9e4d8c3960f00dcd.jpg
workdir/output.pkl/b0b78956118aa84b9e4d8c3960f00dcd.jpg.json
workdir/output.pkl/b0cf35075714f5d7c9cec51db9ad6c18.jpg
workdir/output.pkl/b0cf35075714f5d7c9cec51db9ad6c18.jpg.json
workdir/output.pkl/b1655aadad00b6929a8115d5fd74fdf3.jpg
workdir/output.pkl/b1655aadad00b6929a8115d5fd74fdf3.jpg.json
workdir/output.pkl/b19c5a174264faac0cbf575ca714d363.jpg
workdir/output.pkl/b19c5a174264faac0cbf575ca714d363.jpg.json
workdir/output.pkl/b22a11b60971896f239ac545c8d9a4e4.jpg
workdir/output.pkl/b22a11b60971896f239ac545c8d9a4e4.jpg.json
workdir/output.pkl/b2e52651d0c4ef30f29db3c032b25763.jpg
workdir/output.pkl/b2e52651d0c4ef30f29db3c032b25763.jpg.json
workdir/output.pkl/b360f479f5f49d229e1d441373a1ad1b.jpg
workdir/output.pkl/b360f479f5f49d229e1d441373a1ad1b.jpg.json
workdir/output.pkl/b3c0625ffeba55dbd7be8d46cdb1dc58.jpg
workdir/output.pkl/b3c0625ffeba55dbd7be8d46cdb1dc58.jpg.json
workdir/output.pkl/b4b65303a4c86665c9f77907bfdfa4ad.jpg
workdir/output.pkl/b4b65303a4c86665c9f77907bfdfa4ad.jpg.json
workdir/output.pkl/b542c90771651b90bde2bdf4803afbcb.jpg
workdir/output.pkl/b542c90771651b90bde2bdf4803afbcb.jpg.json
workdir/output.pkl/b59cbcec60bce9f490bd99b35fc2a17a.jpg
workdir/output.pkl/b59cbcec60bce9f490bd99b35fc2a17a.jpg.json
workdir/output.pkl/bbc0987a09966793e66e70a9ab979e6c.jpg
workdir/output.pkl/bbc0987a09966793e66e70a9ab979e6c.jpg.json
workdir/output.pkl/bbfa7628edb052fb7c363fba25e2597e.jpg
workdir/output.pkl/bbfa7628edb052fb7c363fba25e2597e.jpg.json
workdir/output.pkl/bd9f01dddb1abbbe0c6ba86ccd6544ac.jpg
workdir/output.pkl/bd9f01dddb1abbbe0c6ba86ccd6544ac.jpg.json
workdir/output.pkl/be073f028068c0b20321170b1daa344f.jpg
workdir/output.pkl/be073f028068c0b20321170b1daa344f.jpg.json
workdir/output.pkl/be8160f00311d156efeac6edaa413ded.jpg
workdir/output.pkl/be8160f00311d156efeac6edaa413ded.jpg.json
workdir/output.pkl/bed4004766769c0c8efdc1c121510c75.jpg
workdir/output.pkl/bed4004766769c0c8efdc1c121510c75.jpg.json
workdir/output.pkl/c0bd7fd1325a9bc19ce7c0f7132b9d8c.jpg
workdir/output.pkl/c0bd7fd1325a9bc19ce7c0f7132b9d8c.jpg.json
workdir/output.pkl/c19da817b085f2768ba27b99506b11ec.jpg
workdir/output.pkl/c19da817b085f2768ba27b99506b11ec.jpg.json
workdir/output.pkl/c22368684955921032f78f1e2a69e5cc.jpg
workdir/output.pkl/c22368684955921032f78f1e2a69e5cc.jpg.json
workdir/output.pkl/c2aa789272f021ad87047f8fa968bd67.jpg
workdir/output.pkl/c2aa789272f021ad87047f8fa968bd67.jpg.json
workdir/output.pkl/c32a5a568e4a2946fb41470bb7976688.jpg
workdir/output.pkl/c32a5a568e4a2946fb41470bb7976688.jpg.json
workdir/output.pkl/c40929957d936e77e604228aa527f50d.jpg
workdir/output.pkl/c40929957d936e77e604228aa527f50d.jpg.json
workdir/output.pkl/c409b8d49318d5ae90d65e3b7cbfa775.jpg
workdir/output.pkl/c409b8d49318d5ae90d65e3b7cbfa775.jpg.json
workdir/output.pkl/c424e90f87d74f42978906ce2db9904b.jpg
workdir/output.pkl/c424e90f87d74f42978906ce2db9904b.jpg.json
workdir/output.pkl/c5c3662988c128056af0cc228cc7078d.jpg
workdir/output.pkl/c5c3662988c128056af0cc228cc7078d.jpg.json
workdir/output.pkl/c5de7b6eb5a8a2e990c74fe9498b2984.jpg
workdir/output.pkl/c5de7b6eb5a8a2e990c74fe9498b2984.jpg.json
workdir/output.pkl/c62a813890744336802722e1305757da.jpg
workdir/output.pkl/c62a813890744336802722e1305757da.jpg.json
workdir/output.pkl/c7777b5a90f0d67033db6f55f74ff41b.jpg
workdir/output.pkl/c7777b5a90f0d67033db6f55f74ff41b.jpg.json
workdir/output.pkl/c77f143b24bbb3b30d16af5669d05ebc.jpg
workdir/output.pkl/c77f143b24bbb3b30d16af5669d05ebc.jpg.json
workdir/output.pkl/c7d3630a8940a3a4811642816a7a30ce.jpg
workdir/output.pkl/c7d3630a8940a3a4811642816a7a30ce.jpg.json
workdir/output.pkl/c8150fc120ba5093705d0ee69b888d7c.jpg
workdir/output.pkl/c8150fc120ba5093705d0ee69b888d7c.jpg.json
workdir/output.pkl/c8a4713a86e50a7fc1d680c472087961.jpg
workdir/output.pkl/c8a4713a86e50a7fc1d680c472087961.jpg.json
